<h3>Edit profile information:</h3>

<form method='post' action="/users/<%= @currentuser.id %>/update">
  <p>First Name</p>
  <input type="text" name="firstname" value='<%=@currentuser.firstname %>'>
  <p>Last Name</p>
  <input type="text" name="lastname" value='<%=@currentuser.lastname %>'>
  <p>Birthday</p>
  <input type="text" name="birthday" value='<%=@currentuser.birthday %>'>
  <p>E-mail</p>
  <input type="text" name="email" value='<%=@currentuser.email %>'>
	<input type="submit">
</form>

<h3>Edit password:</h3>
<form method='post' action="/users/<%= @currentuser.id %>/updatepassword">
  <p>Current Password</p>
  <input type="text" name="currentpassword">
  <p>New Password</p>
  <input type="text" name="newpassword1">
  <p>Re-enter New Password</p>
  <input type="text" name="newpassword2">
	<input type="submit">
</form>
