<div class='userprofile-wrapper'>
  <div class='userprofile-picture'></div>
  <div class='userprofile-info'>
    <p class='userinfo'><span class='userinfo-title'>Username</span>: <a href="/users/view/<%= @currentuser.id %>"> <%= @currentuser.username %> </a></p>
    <p class='userinfo'><span class='userinfo-title'>First Name</span>: <%= @currentuser.firstname %> </p>
    <p class='userinfo'><span class='userinfo-title'>Last Name</span>: <%= @currentuser.lastname %> </p>
    <p class='userinfo'><span class='userinfo-title'>Email</span>: <%= @currentuser.email %> </p>
    <p class='userinfo'><span class='userinfo-title'>Birthday</span>: <%= @currentuser.birthday %> </p>
  </div>
  <form method='get' action='/users/<%= @currentuser.id %>/edit'>
    <button class='sub-button' id='update-button' type="submit">UPDATE</button>
  </form>
  <form method='get' action='/users/<%= @currentuser.id %>/delete'>
    <button class='sub-button' id='delete-acc-button' type="submit">DELETE ACCOUNT</button>
  </form>

  <!-- <div class='sec-separator'></div> -->

  <h2 class='page-title'>Blogs</h2>
  <div class='blog-listing-wrapper'>
    <% @blogs.reverse[0...@blogs.length].each do |blog| %>
      <div class='profile-blog-listing'>
        <h3 class='profile-blog-title'><%= blog.title %></h3>
        <p class='profile-blog-content'><%= blog.content %></p>
      </div>
      <form class='edit-blog-form' method='get' action='/blogs/<%= blog.id %>/edit'>
        <button class='sub-button'>EDIT BLOG</button>
      </form>
    <% end %>
  </div>

</div>
